<section class="section bg__footer">
    <div class="container">
        <div class="wc__footer">
            <div class="wc__footer-icons">
                <div class="wc__footer-icons_icon">
                    <img src="../../../assets/gruntee.png" alt="Gruntee">
                    <p>30 day <span>money back guarantee</span></p>
                </div>
                <div class="wc__footer-icons_icon">
                    <img src="../../../assets/suppor.png" alt="Support">
                    <p>30 day <span>money back guarantee</span></p>
                </div>
                <div class="wc__footer-icons_icon">
                    <img src="../../../assets/secure.png" alt="Secure">
                    <p>30 day <span>money back guarantee</span></p>
                </div>
            </div>
            <div class="wc__footer-logo">
                <img src="../../../assets/logowhite.png" alt="">
            </div>
            <hr>
            <div class="wc__footer-links">
                <div class="wc__foter-links_link">
                    <h4>Who we Are</h4>
                    <p><a href="#">About</a></p>
                    <p><a href="#">Team</a></p>
                    <p><a href="#">Work With Us</a></p>
                </div>
                <div class="wc__foter-links_link">
                    <h4>Woocommerce</h4>
                    <p><a href="#">Features</a></p>
                    <p><a href="#">Payments</a></p>
                    <p><a href="#">Marketing</a></p>
                    <p><a href="#">Shipping</a></p>
                    <p><a href="#">Extension Store</a></p>
                    <p><a href="#">eCommerce blog</a></p>
                    <p><a href="#">Development blog</a></p>
                    <p><a href="#">Ideas board</a></p>
                    <p><a href="#">Mobile App</a></p>
                    <p><a href="#">Community</a></p>
                    <p><a href="#">Style Guide</a></p>
                    <p><a href="#">Email Newsletter</a></p>
                </div>
                <div class="wc__foter-links_link">
                    <h4>Other products</h4>
                    <p><a href="#">Storefront</a></p>
                    <p><a href="#">WooSlider</a></p>
                    <p><a href="#">Sensei</a></p>
                    <p><a href="#">Sensei Extensions</a></p>
                </div>
                <div class="wc__foter-links_link">
                    <h4>Support</h4>
                    <p><a href="#">Documentation</a></p>
                    <p><a href="#">Customizations</a></p>
                    <p><a href="#">Support Policy</a></p>
                    <p><a href="#">Contact</a></p>
                    <p><a href="#">COVID-19 Resources</a></p>
                    <p><a href="#">Privacy Notice for California Users</a></p>
                </div>
                <div class="wc__foter-links_link">
                    <h4>We recommend</h4>
                    <p><a href="#">WooExperts</a></p>
                    <p><a href="#">Hosting Solutions</a></p>
                    <p><a href="#">Pre-sales FAQ</a></p>
                    <p><a href="#">Success Stories</a></p>
                    <p><a href="#">Design Feedback Group</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg__copyright">
    <section class="section">
        <div class="container">
            <div class="wc__copyright">
                <div class="wc__copyright-social">
                    <img src="../../../assets/socials.png" alt="">
                </div>
                <div class="wc__copyright-copyright">
                    <p>COPYRIGHT WOOCOMMERCE 2020 - TERMS & CONDITIONS PRIVACY POLICY</p>
                </div>
                <div class="wc__copyright-image">
                    <img src="../../../assets/auto.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>