@import "../../../styles/variable";

.wc__community {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 160px;
  padding: 0rem 3rem 0;
  &-up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -2rem;
    img {
      width: 35rem;
      height: auto;
      height: auto;
    }
    &_content {
      float: right;
      display: flex;
      max-width: 480px;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      h3 {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        color: white;
        max-width: 350px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: white;
        margin: 0.8125rem 0 2.4375rem;
      }
      button {
        padding: 1rem 1.5rem;
        border-radius: 60px;
        border: 0;
        outline: none;
        background-color: $green;
        color: white;
      }
    }
  }
  &-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: -2rem;
    &_dcontent {
      max-width: 450px;
      h3 {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        color: white;
        max-width: 350px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: white;
        margin: 0.8125rem 0 2.4375rem;
      }
      button {
        padding: 1rem 1.5rem;
        border-radius: 60px;
        border: 0;
        outline: none;
        background-color: $green;
        color: white;
      }
    }
    img {
      width: 35rem;
      height: auto;
      position: relative;
    }
  }
}

/*
**********
Responisve
**********
*/
@media screen and (max-width: 1000px) {
  .wc__community {
    &-up {
      position: relative;
      img {
        width: 50%;
      }
      &_content {
        width: 50%;
      }
    }
    &-down {
      bottom: 0;
      padding-top: 50px;

      img {
        width: 50%;
      }
      &_dcontent {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .wc__community {
    padding-left: 0;
    padding-right: 0;
    &-up {
      flex-direction: column;
      img {
        width: 100%;
      }
      &_content {
        width: 100%;
      }
    }
    &-down {
      flex-direction: column;
      padding-top: 4rem;
      img {
        width: 100%;
      }
      &_dcontent {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .wc__community {
    &-up {
      &_content {
        h3 {
          font-size: 1.625rem;
          line-height: 35px;
        }
      }
    }
    &-down {
      &_dcontent {
        h3 {
          font-size: 1.625rem;
          line-height: 35px;
        }
      }
    }
  }
}
