* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  height: 100%;
}
body {
  font-family: $main-font;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: $heading-font;
  color: $heading-color;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section {
  padding: 0 55px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .section {
    padding: 0 45px;
  }
}
@media screen and (max-width: 550px) {
  .section {
    padding: 0 30px;
  }
}

.bg-gradient {
  background: rgb(229, 239, 255);
  background-image: url("../assets/bgclip.png");
  background: url("../assets/bgclip.png"),
    linear-gradient(
      180deg,
      rgba(229, 239, 255, 1) 0%,
      rgba(229, 239, 255, 0.27) 88%,
      rgba(229, 239, 255, 0) 100%
    );
  background-repeat: no-repeat;
  background-position: right 0% top 0%;
  height: 100%;
  padding-top: 37px;
}
.bg-blue {
  background-image: url("../assets/bg-community.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.bg-testimonial {
  background: rgb(236, 240, 253);
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0),
    rgba(236, 240, 253, 53),
    rgba(236, 240, 253, 1),
    rgba(236, 240, 253, 0.43),
    rgba(236, 240, 253, 0)
  );
}
.bg-testimonial-people {
  background: url("../assets/people.png");
  background-position: 25% 75%;
  background-size: 90%;
  background-repeat: no-repeat;
  width: 100%;
}
.hidden {
  display: none;
}
.no-scroll body {
  overflow: none;
}
