// Raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$main-color: #7854f7;
$heading-color: #272d4e;
$white: #fff;
$black: #000;
$green: #70c217;
$blue: #299ef3;
$gray: #94a2b3;
$cta-blue: #5f37ef;

$main-font: "Roboto", sans-serif;
$heading-font: "Raleway", sans-serif;
