<section class="section">
    <div class="container">
        <div class="wc__features">
            <div class="wc__features-heading">
                <h2>
                    Your eCommerce made simple
                </h2>
            </div>
            <div class="wc__features-content">
                <div class="wc__features-content_feature">
                    <img src="../../../assets/feature-1.png" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>All You Need to Start</h3>
                        <p>Add WooCommerce plugin to any WordPress site and set up a new store in minutes.</p>
                        <h4>Ecommerce for Wordpress ›</h4>
                    </div>
                </div>
                <div class="wc__features-content_feature">
                    <img src="../../../assets/feature-2.png" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>Customize and Extend</h3>
                        <p>From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable. </p>
                        <h4>Browse Extensions ›</h4>
                    </div>
                </div>
                <div class="wc__features-content_feature">
                    <img src="../../../assets/feature-3.png" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>Active Community</h3>
                        <p>WooCommerce is one of the fastest-growing eCommerce communities. </p>
                        <h4>Check our Forums ›</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>