<section class="section bg-gradient">
    <div class="container">
        <wc-navbar></wc-navbar>
        <div class="wc__hero">
            <div class="wc__hero-content">
                <h1>Building exactly the eCommerce website you want.</h1>
                <p>WooCommerce is a customizable, open-source eCommerce platform built on WordPress.
                    Get started quickly and make your way.</p>
                <div class="wc__hero-content_cta">
                    <button>Get Started</button>
                    <p>
                        or <Span>Customize & Extend ›</Span>
                    </p>
                </div>
            </div>

            <div class="wc__hero-image">
                <img src="../../../assets/featured-image.png" alt="Featured Image">
            </div>
        </div>
    </div>
</section>