<div class="wc">
    <section class="section">
        <div class="container">
            <div class="wc__developer">
                <div class="wc__developer-heading">
                    <h3>Supported by real people</h3>
                    <p>Our team of Happiness Engineers works remotely from 58 countries providing customer support
                        across
                        multiple time zones.</p>
                </div>

            </div>
        </div>
    </section>
    <div class="wc__cta">
        <section class="section">
            <div class="container">
                <div class="wc__cta-image">
                    <img src="../../../assets/developers.png" alt="">
                </div>
                <div class="content">
                    <div class="wc__cta-heading">
                        <h3>WooCommerce - the <span>most customizable eCommerce platform </span> for building <span>your
                                online
                                business.</span></h3>
                    </div>
                    <div class="wc__cta-btn">
                        <button>Get Started</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>