<section class="section bg-testimonial ">
    <section class="bg-testimonial-people">
        <div class="cotainer">
            <div class="wc__testimonials">
                <div class="wc__testimonials-heading">
                    <h3>Trusted by Agencies & Store Owners</h3>
                </div>
                <div class="wc__testimonials-cards">
                    <div class="card">
                        <p>No other eCommerce platform allows people to start for free and grow their store as their
                            business grows. More importantly, WooCommerce doesn't charge you a portion of your profits
                            as
                            your business grows!</p>
                    </div>
                    <div class="card-float"></div>
                    <div class="card-float-2"></div>

                </div>
                <div class="wc__testimonials-buttons">
                    <button class="larrow">
                        <img src="../../../assets/larrow.png" alt="">
                    </button>
                    <button class="rarrow">
                        <img src="../../../assets/rarrow.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </section>
</section>